:root {
  --primary-color: #2c2c2c;
  --text-color: #fff;
  --content-background-transparent: rgba(0, 0, 0, 0.35);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Başlangıçta görünmez */
  transform: translateY(100vh); /* Sayfa başlangıçta ekrandan dışarıda */
  transition: opacity 1s ease, transform 1s ease; /* Opaklık ve konum geçişi */
  background-color: var(--primary-color);
  color: var(--text-color);
}

.page.active {
  opacity: 1;
  transform: translateY(0); /* Sayfa aktif olduğunda ekrana gelir */
}

.page.deactive {
  opacity: 0;
  transform: translateY(-100vh); /* Sayfa deaktif olduğunda kaybolur */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
}

#aboutme .content-box {
  background-color: var(--content-background-transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  position: absolute;
  bottom: 15vw;
  left: 0;
  width: 30vw;
  padding: 3rem 1.6rem;
  transform: translateX(-30vw);
  transition: transform 1.5s ease;
}

#aboutme.active .content-box {
  transform: translateX(0);
}

#aboutme.deactive .content-box {
  transform: translateX(-30vw);
}

#aboutme img {
  transform: translateX(100vw); /* Başlangıçta görseller sağda kaybolur */
  transition: transform 1.5s ease;
  z-index: -1;
}

#aboutme.active img {
  transform: translateX(0); /* Görsel ekrana gelir */
}

#aboutme.deactive img {
  transform: translateX(-100vw); /* Görsel solda kaybolur */
}

#detail .content-box {
  position: absolute;
  background-color: var(--content-background-transparent);
  max-height: 30vw;
  bottom: -30vw;
  left: 0;
  width: 100vw;
  text-align: left;
  padding: 3rem 1.6rem;
  padding-bottom: 0;
  transition: bottom 1s ease;
}

#detail.active .content-box {
  bottom: 0;
}

#detail.deactive .content-box {
  bottom: -30vw; /* Deaktif olduğunda yukarı kaybolur */
}

#detail img {
  transform: translateY(100vh); /* Başlangıçta img görünmez */
  transition: transform 1.5s ease;
}

#detail.active img {
  transform: translateY(0); /* Görsel aktif olduğunda ekrana gelir */
}

#detail.deactive img {
  transform: translateY(-100vh); /* Görsel kaybolur */
}
